@model TimeViewModel

<div class="container p-5 border border-dark glassbg">

    <h1 class="d-flex justify-content-center">ALIEN CLOCK</h1>

    <!-- Displaying Earth Time -->
    <div class="row">
        <div class="col-md-6">
            <h2>Earth Time</h2>
            <div id="earth-time-display" class="time-display">
                <!-- Earth time will be dynamically updated here -->
            </div>

        </div>

        <!-- Displaying Alien Time -->
        <div class="col-md-6">
            <h2>Alien Time</h2>
            <div id="alien-time-display">
@*                 <p>Year: @Model.AlienTime.Year, Month: @Model.AlienTime.Month, Day: @Model.AlienTime.Day</p>
                <p>@Model.AlienTime.Hour:@Model.AlienTime.Minute:@Model.AlienTime.Second</p>
 *@            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form id="setEarthTime" method="post" class="mt-4">
                <h3>Set Earth Time</h3>
                <input type="datetime-local" name="EarthTime" class="form-control" required />
                <button type="submit" class="button-alien mt-3">Set Earth Time</button>
            </form>
        </div>
        <input type="hidden" id="newEarthTime" name="newEarthTime">
        <div class="col-md-6">
            <!-- Form to Set Alarm -->

            <h3 class="mt-4">Set Alarm</h3>
            <form id="alarm-form">
                <input type="time" name="alarmTime" id="alarmTime" class="form-control" required />
                <button type="submit" class="button-alien mt-2">Set Alarm</button>
            </form>
        </div>
    </div>
    <input type="hidden" id="alarms" name="alarms">

    <div class="row">
        <div class="col-md-6">
            <!-- Alarm Message -->
            <div id="alarm-message" class="mt-3" style="display:none;">
                <div class="alert alert-success">
                    <strong>Alarm!</strong> Your set alarm time has been reached!
                </div>
            </div>
        </div>
    </div>
    <audio id="alarm-sound" src="~/assets/audio/mixkit-digital-clock-digital-alarm.wav" preload="auto"></audio>
</div>
