@model TimeViewModel

<div class="container p-5 border border-dark glassbg">

    <h1 class="d-flex justify-content-center">ALIEN CLOCK</h1>

    <!-- Displaying Earth Time -->
    <div class="row">
        <!-- Displaying Alien Time -->
        <div class="col-md-6">
            <h2>Alien Time</h2>
            <div id="alien-time-display">
            </div>
        </div>
        <div class="col-md-6">
            <form id="setAlienTime" method="post" class="mt-4">
                <h3>Set Alien Time</h3>

                <div class="row-container">
                    <!-- Row 1: Year and Month -->
                    <div class="form-group">
                        <label for="alienYear">Year:</label>
                        <select id="alienYear" name="AlienYear" class="form-control" required></select>
                    </div>

                    <div class="form-group">
                        <label for="alienMonth">Month:</label>
                        <select id="alienMonth" name="AlienMonth" class="form-control" required>
                            <!-- Create options for 18 months -->
                        </select>
                    </div>
                </div>

                <div class="row-container">
                    <!-- Row 2: Day and Hour -->
                    <div class="form-group">
                        <label for="alienDay">Day:</label>
                        <select id="alienDay" name="AlienDay" class="form-control" required>
                            <!-- Day options will dynamically change based on the selected month -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="alienHour">Hour:</label>
                        <select id="alienHour" name="AlienHour" class="form-control" required></select>
                    </div>
                </div>

                <div class="row-container">
                    <!-- Row 3: Minute and Second -->
                    <div class="form-group">
                        <label for="alienMinute">Minute:</label>
                        <select id="alienMinute" name="AlienMinute" class="form-control" required></select>
                    </div>

                    <div class="form-group">
                        <label for="alienSecond">Second:</label>
                        <select id="alienSecond" name="AlienSecond" class="form-control" required></select>
                    </div>
                </div>

                <button type="submit" class="button-alien mt-3">Set Alien Time</button>
            </form>

        </div>
        <div class="earthPosition">
            <h2>Earth Time</h2>
            <div id="earth-time-display" class="time-display">
            </div>

        </div>
        <div class="alarm-position" id="alarmIcon">
            <i class="bi bi-alarm float-end" ></i>
        </div>
    </div>
    <input type="hidden" id="current-alien-hour" name="current-alien-hour">
    <input type="hidden" id="current-alien-minute" name="current-alien-minute">
    <input type="hidden" id="alarms-hour" name="alarms-hour">
    <input type="hidden" id="alarms-minute" name="alarms-minute">
    <audio id="alarmSound" src="~/assets/audio/mixkit-digital-clock-digital-alarm.wav" preload="auto"></audio>

</div>

<script>

    var modelData = @Html.Raw(Json.Serialize(Model));

    console.log(modelData);
</script>
<script src="~/js/alienClock.js"></script>