body {
    font-family: "Share Tech Mono", monospace;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, label {
    color: aqua;
}

.glassbg {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px); /* Standard */
    -webkit-backdrop-filter: blur(8.5px); /* Safari */
    border: 1px solid rgba(255, 255, 255, 0.37) !important;
}
.time-part {
    font-size: 4rem; /* Set the font size to 30px for the time display */
    color: #daf6ff; /* Optional: You can set the color or any other styles you like */
}

.button-alien {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-alien:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000 );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-alien 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-alien {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-alien:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Container for each row, aligning two form groups side by side */
.row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Add space between rows */
}

/* Each form group (label + input) will take equal width */
.form-group {
    flex: 1;
    margin-right: 15px; /* Add space between columns */
}

    .form-group:last-child {
        margin-right: 0; /* Remove margin on the last form group of each row */
    }

/* Ensure form-control class inputs take full width inside their containers */
.form-control {
    width: 100%;
}

/* Button styling */
.button-alien {
    width: 100%; /* Make the button take full width */
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

    .button-alien:hover {
        background-color: #0056b3;
    }
